.title_activity {
    position: relative;
    left: 35px;
}

.activity_chart {
    position: relative;
    height: 250px;
    border-radius: 5px;
    background: #FBFBFB;
}

.recharts-default-legend {
    padding-bottom: -3.3em;
}

.daily_chart_tooltip {
    background-color: #E60000;
    color: white;
    font-size: 8px;
    padding: 2.5px;
}

.daily_chart_tooltip p {
    padding: 2.5px;
}