.title_activity {
    position: relative;
    left: 35px;
}

.activity_chart {
    position: relative;
    height: 250px;
    border-radius: 5px;
    background: #FBFBFB;
}

.activity_chart h2 {
    margin-inline-start: 1em;
    color: black;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
}


.recharts-default-legend {
    padding-bottom: -3.3em;
}

.daily_chart_tooltip {
    background-color: #E60000;
    color: white;
    font-size: 8px;
    padding: 2.5px;
}

.daily_chart_tooltip p {
    padding: 2.5px;
}