.average_duration_chart {
    display: flex;
    flex-flow: column;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #FF0000;
    color: white;
    border-radius: 5px;
}

.text_container {
    height: 20%;
}

.grafic_container {
    height: 86%;
    padding: 0.5rem;
}

.average_duration_chart h2 {
    opacity: 0.5;
    position: absolute;
    left: 20px;
    max-width: 110px;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
}

.average_duration_tooltip {
    background-color: white;
    color: black;
    font-weight: 500;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.tooltip :hover {
    background-color: aqua;
}