.goal_chart {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 250px;
    border-radius: 5px;
    background-color: #FBFBFB;
}

.goal_title {
    position: absolute;
    top: 25px;
    left: 25px;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
}

.goal_content {
    text-align: center;
    position: absolute;
    top: 68px;
    left: 64px;
    background-color: white;
    border-radius: 50%;
    width: 122px;
}

.percentage {
    font-size: 26px;
    margin-bottom: 5px;
    font-weight: 700;
    line-height: 26px;
}

.legend {
    margin: 5px 0px 5px 0px;
    color: #74798C;
}