.container_page {
    min-width: 1024px;
    height: 780px;
}

.nav_horisontal {
    width: 100%;
    height: 91px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container_block {
    display: flex;
    height: 100%;
}

.nav_vertical {
    width: 117px;
    height: 100%;
    background-color: black;
}

.cursor_pointer {
    color: white;
    text-decoration: inherit;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.container_info {
    width: 100%;
}

img {
    color: black;
    width: 155px;
    height: 55px;
}